
        button {
        	width: 150px;
        	height: 50px;
        	cursor: pointer;
        	font-size: 20px;
        	font-weight: bold;
        	color: var(--theme-color);
        	background: white;
        	border: 2px solid var(--theme-color);
        	box-shadow: 5px 5px 0 var(--theme-color),
        		-5px -5px 0 var(--theme-color),
        		-5px 5px 0 var(--theme-color),
        		5px -5px 0 var(--theme-color);
        	transition: 500ms ease-in-out;
        }
        
        button:hover {
        	box-shadow: 20px 5px 0 var(--theme-color), -20px -5px 0 var(--theme-color);
        }
        
        button:focus {
        	outline: none;
        }