
        #scroll-container {
            border: 3px solid black;
            border-radius: 5px;
            height: 250px;
            overflow: hidden;
        }

        #scroll-text {
            height: 400%;
            text-align: center;
            transform: translateY(100%);
            animation: my-animation 25s linear infinite;
        }

        @keyframes my-animation {
            from {
              -moz-transform: translateY(100%);
              -webkit-transform: translateY(100%);
              transform: translateY(100%);
            }
            to {
              -moz-transform: translateY(-100%);
              -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
            }
        }